* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


.myContent {
    background-color: #ced4da;
}


.title {
    font-size: 40px;
    color: rgb(55, 55, 204);
    text-align: center;
    font-weight: bold;
    padding-top: 2%;

    p {
        font-size: 15px;
        color: rgb(95, 95, 215);
        margin: 2% 20%;
    }
}


.contentButton {
    display: block;
    margin: 2%;
    padding: 1%;
    text-align: center;
    background-color: lightskyblue;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}


.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;

    img {
        max-width: 30%;
        height: 400px;
        float: right;
        border: 2px dotted black;
        border-radius: 10px;
        margin: 2%;
    }

    li {
        padding: 1%;
    }
}


#importance {
    background-color: rgb(181, 178, 178);
}


#explanation {
    background-color: rgb(200, 187, 187);
}


#targets {
    background-color: rgb(181, 178, 178);

}


.content:last-child {
    margin-bottom: 0;
}


.textContent {
    float: left;
    width: 60%;
    text-align: left;

    h2 {
        text-decoration: underline;
    }

    a {
        color: rgb(23, 136, 173);
    }
}





/**Start of the code received from student 2*/

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
    height: 20vh;
    background-color: #ced4da;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1600px) {
    .navbar {
        width: 100%;
        height: 80px;
    }
}

.icon {
    float: left;
    height: 80px;
}


.logo {
    color: #ff7200;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding: top 10px;
    margin-top: 20px;
}

.menu {
    width: auto;
    float: right;
    height: 80px;
    margin-top: 20px;
}

@media (max-width:1600px) {
    .menu {
        width: auto;
        height: 80px;
        margin-right: 20px;
    }
}

ul {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 1.2rem;
}

.menu ul li a i {
    margin-right: 5px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4S ease-in-out;
    font-size: 0.8rem;
}

@media (max-width:1600px) {
    ul li a {
        font-size: 1.2rem;
    }
}

ul li a:hover {
    background-color: #fff;
    color: #ff7200;
    border-radius: 6px;
}

ul li a.active a {
    background-color: #fff;
    color: #ff7200;
}

.footer {
    background-color: #333;
    /* Background color */
    color: #ff7200;
    /* Text color */
    padding: 10px 0;
    /* Top and bottom padding */
}

.footer-content {
    display: block;
    justify-content: space-around;
}

.col {
    /*flex: 1; / Equal width for all columns */
    margin: 0 20px;
    /* Spacing between columns */
}

.col h3 {
    margin-bottom: 20px;
    /* Space below heading */
}

.col ul {
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
}

.col ul li {
    margin-bottom: 10px;
    /* Space between list items */
}

.col ul li a {
    color: #ff7200;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
}

.col ul li a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

.fa {
    font-size: 24px;
    /* Icon size */
    margin-right: 10px;
    /* Spacing between icons */
}

.footerlinks {
    list-style-type: none;
    font-size: 15px;
}

/**End of the code received from student 2*/
